{% extends "base.html" %}

{% block content %}
<!-- Jumbotron -->
  <div class="text-white">
    <div class="inner">
      <h1 class="whitney">WELCOME</h1>
      <h3 class="gotham">Te Saluda Alfredo Alvarado</h3>
      <p>Esta es la tarea correspondiente al proyecto 4, para acceder al formulario de proyectos, tienes que loguearte primero </p>
      <p><a class="btn btn-primary btn-lg" role="button" href="/form">Mira el Formulario de proyectos &raquo;</a></p>
</div>
  </div>
<!-- Jumbotron  <div id="intro-example" class="jumbotron"
style="background-image: url(' https://mdbcdn.b-cdn.net/img/new/slides/041.webp');">-->
{% endblock %}